<!DOCTYPE html>
<html>
<head>
    <title>Code : Send</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <script src="webjars/jquery/2.2.0/jquery.js"></script>
</head>
<body>
<div class="container">
    <h1>Code: Send</h1>
    <form id="codeForm" action="/compile">
        <div class="row">
            <label for="compilerType">compiler (0-java, 1-python2, 2-python3)</label>
            <input type="number" id="compilerType" name="compilerType"/>
        </div>
        <div class="row">
            <label for="code">code</label>
            <textarea id="code" rows="15" cols="100"></textarea>
        </div>
        <div class="row">
            <label for="userInput">input</label>
            <input type="text" id="userInput" name="userInput"/>
        </div>
        <input type="submit" value="Send"/>
    </form>

    <div class="row">
        <label for="out">StdOut</label>
        <textarea id="out" rows="4" cols="100"></textarea>
    </div>
    <div class="row">
        <label for="err">StdErr</label>
        <textarea id="err" rows="4" cols="100"></textarea>
    </div>
</div>
<script>
// Attach a submit handler to the form
$( "#codeForm" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    compiler = $form.find( "input[name='compilerType']" ).val(),
    input = $form.find( "input[name='userInput']" ).val(),
    url = $form.attr( "action" );

    c = $( "#code" ).val();
  // Send the data using post
  var posting = $.post( url, { compilerType: compiler, code: c, userInput: input} );

  // Put the results in a div
  posting.done(function( data ) {
    $( "#out" ).empty().append( data.stdOut );
    $( "#err" ).empty().append( data.stdErr );
  });
});
</script>

</body>
</html>
