<!DOCTYPE html>
<html>
<head>
    <title>Code Sender</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <script src="webjars/jquery/2.2.0/jquery.js"></script>
</head>
<body>
<div class="container">
    <h1>Code sender</h1>
    <form id="codeForm" action="/compile">
        <span>Compiler (0-java, 1-python2, 2-python3):</span>
        <div class="row">
            <input type="number" id="compilerType" name="compilerType"/>
        </div>
        <span>User code:</span>
        <div class="row">
            <textarea id="code" rows="15" cols="100"></textarea>
        </div>
        <span>User input:</span>
        <div class="row">
            <input type="text" id="userInput" name="userInput"/>
            <input type="submit" value="Send"/>
        </div>

    </form>


    <span>StdOut:</span>
    <div class="row">
        <textarea id="out" rows="4" cols="100"></textarea>
    </div>
    <span>StdErr:</span>
    <div class="row">
        <textarea id="err" rows="4" cols="100"></textarea>
    </div>
</div>
<script>
$( "#codeForm" ).submit(function( event ) {
  event.preventDefault();

  var $form = $( this ),
    compiler = $form.find( "input[name='compilerType']" ).val(),
    input = $form.find( "input[name='userInput']" ).val(),
    url = $form.attr( "action" );

    c = $( "#code" ).val();
  var posting = $.post( url, { compilerType: compiler, code: c, userInput: input} );

  posting.done(function( data ) {
    $( "#out" ).empty().append( data.stdOut );
    $( "#err" ).empty().append( data.stdErr );
  });
});

</script>

</body>
</html>
